.myDiv {
    width: 425px;
    padding: 50px;
    background-color: #ffffff;
    margin: 10px;
    align-self: center;
    border-radius: 15px;
    opacity: 0.9;
    height: 64vh;
    width: 90%;
    box-shadow: 0 3px 7px #000000;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* .button {
    padding: 9px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(7, 6, 6);
    background-color: #63A4FF;
    border: none;
    border-radius: 15px;
    
    width: 520px;
    font-weight: 600;
  } */
  #btn0{
    padding-bottom: 40px;
  }
  .schedule-meeting-btn {
    background-color: #005082;
    border: 2px solid transparent;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: x-large;
    margin-top: 17px;
    margin-right: 140px;
    border-radius: 25px 5px 25px 5px;
    transition: all 0.3s ease-in;
  }
  .schedule-meeting-btn:hover {
    background-color: #fff !important;
    border: 2px solid #005082;
    box-shadow: 6px 7px 3px 0 #005082;
    color: #000 !important;
    font-weight: 600;
  }
  .button:hover {
    background-color: #0d52e8;
    color: azure;
    
  }
  
  .button1 {
    padding: 9px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #83eaf1 #63a4ff;
    border: 2px solid #000;
    align-items: center;
    border-radius: 25px 5px 25px 5px;
    margin-top: 11px;
    justify-content: center;
    min-height: 45px;
    min-width: 130px;
  }
  
  .button1:hover {
    background: transparent;
    box-shadow: 5px 5px 5px 0 #005082;
    color: #005082;
    transition: .3s ease-in-out;
  }
  
  .button1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .container-main img {
    height: 4vh;  
    margin-top: -21px;
    float: left;
  }
  
  html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .yellow {
    text-align: right;
    color: white;
    background: #a4ede394;
    line-height: 1;
    padding: 0px;
    border-radius: 10px;
    margin-right: -37px;
    margin-top: 15px;
    float: right;
    width: 80%;
  }
  
  p:first-child {
    font-weight: bold;
    padding: 4px;
    color: darkblue;
    margin-top: 2px;
  }
  .blue {
    line-height: 2;
    background: #ebeaea;
    padding: 0px;
    text-align: left;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: -36px;
    float: left;
    width: 80%;
  }
  .container-main {
    margin-top: 37px;
  }
  p {
    margin: -6px 28px 10px;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    font-weight: 500;
  }
  
  #presenter-name {
    font-weight: 500;
  }
  .copyright {
    margin-top: 13px;
      font-size: 17px;
  }
 .button-panel {
    margin: 20px;
    font-size: 15px;
    color: black;
    line-height: 1;
    font-weight: 500;
  }
  .lightbox {
    display: none;
    position: fixed;
    background: #fff;
    border: solid 7px #005082;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    top: 35%;
    left: 20%;
    z-index: 1002;
}

/* specific to this instance */
#popup {
  height:30%;
  /* margin-left = (width/2) -20px -10px */
  /* margin-left:-180px;
  /* margin-top = (height/2) -20px -10px */
  /* margin-top:-130px; */
  width:50%;
}

.lightbox h3 {
  font-size:1.5em;
  margin-top:0;
  text-align:center;
}

.lightbox .content {
  /* background-color:#ded; */
  border-radius:5px;
  padding:20px;
  display: table-header-group;
}

.lightbox .button-panel {
  text-align:center;
}

/* buttons */
button {
  border:none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  padding: 5px 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  vertical-align: middle;
}
.lightbox-link{
  border:none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 39px;
  margin: 41px;
  padding: 5px 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  vertical-align: middle;
  text-align: center;
}
.secondary {
  background-color: #666;
}

.secondary:hover {
  background-color: #777;
}
.lightbox-close{
  position: absolute;
  font-size: 1.6em;
  top: -14px;
  right: -10px;
  margin: 15px;
}